{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "promise"
  ],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/prop-types": [2]
  },
  "extends": ["eslint:recommended",  "plugin:promise/recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}